.Section_3 {
    background-color: Lavender;
    border: 4px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;

}


.merch {
    border: 11px solid rgb(232, 8, 8);
    font-size: 30px;
    display: inline-block;
    width: 50%;
    margin: 20px auto 0 auto;

    height: 210px;
}